<h1>Listing offers</h1>

<table>
  <tr>
    <th>Property name</th>
    <th>Subtitle</th>
    <th>Short text</th>
    <th>Description</th>
    <th>Url</th>
    <th>Offer code</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.property_name %></td>
    <td><%= offer.subtitle %></td>
    <td><%= offer.short_text %></td>
    <td><%= offer.description %></td>
    <td><%= offer.URL %></td>
    <td><%= offer.offer_code %></td>
    <td><%= offer.category_id %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offer', new_offer_path %>
